@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf')  format('truetype');
  }

  @font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff')  format('woff');
  }

/* RESET DE ESTILOS */
/* Pone todos los elementos como border-box en vez de content-box, esto hace que el tamaño de los elementos
sean el tamaño final, sin discrepancias por padding o borders.*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Ademas, quita defaults como el font-weight de los titulos o los estilos de linea. */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    font-family: 'Ubuntu', Fallback, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

/* Y por último, hace que todas las imágenes sean responsive, controladas por el max-width */
img {
    max-width: 100%;
    height: auto;
}

/* MARGINS */

.m1 { margin: 1em;}
.ml1 { margin-left: 1em;}
.mr1 { margin-right: 1em;}
.mt1 { margin-top: 1em;}
.mb1 { margin-bottom: 1em;}

/* ESTRUCTURA */
body {
    margin: 1em;
}

header {
    display: flex;
    align-items: center;
}

header .subtitle{
    font-size: xx-large;
    font-weight: bold;
    color: #15d89c;
}

.logo {
    max-height: 4em;
}

.social {
    margin-left: auto;
}

.social-link {
    height: 50px;
    width: 50px;
    display: inline-block;
    background-size: contain;
}

.social-link.twitter {
    background-image: url('../images/icn_twitter.png');
}

.social-link.github {
    background-image: url('../images/icn_github.png');
}

.social-link.linkedin {
    background-image: url('../images/icn_linkedin.png');
}

#menu ul {
    display: flex;
    margin-left: 167px;
    align-items: center;
}

#menu ul li {
    padding: 1em;
    border-top: 1px solid #fe9e07;
}

#menu a, a:hover {
    color: #02d890;
    text-decoration: none;
}

#menu a:visited {
    color: #ff9e07;
    text-decoration: none;
}

a, a:hover {
    color: #02d890;
}

a:visited {
    color: #ff9e07;
}

#top {
    padding: 0px;
    margin: 0px;
}

#contenedor{
    padding: 0px;
    margin: 0px;
}

#principal {
    display: flex;
    padding: 0px;
    margin: 0px;
}

#contenedor-proyectos {
    display: flex;
    flex-grow: 1;
}

#frameworks {
    text-align: center;
}

.framework {
    width: 70px;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    box-shadow: 0px 10px 10px -10px;
}

#proyectos {
    display: flex;
    flex-flow: wrap;
}

.proyecto {
    flex: 1;
    background-color: rgb(254 158 7);
    margin: 10px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(246 180 76);
    border-radius: 0px 50px;
    text-align: center;
}

.proyecto img {
    filter: sepia(50%);
    border-radius: 30px;
    max-width: 350px;
}
.proyecto img:hover {
    filter: sepia(0);
    border-radius: 0 30px;
}

.proyecto-title {
    font-size: 1.5em;
    line-height: 2em;
    font-weight: 800;
    color: #6e00d9;
    text-shadow: 1px 1px #fff, 2px 2px #903ee0;
}

.proyecto .button {
    padding: 5px 20px;
    display: block;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-radius: 0 30px 0 30px;
    margin-top: 10px;
    text-decoration: none;
    float: left;
}

.proyecto-technologies {
    display: block;
    background: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    float: right;
    margin-top: 14px;
    font-size: 0.7em;
    background: chocolate;
    color: white;
}

.proyecto .button:hover {
    background: #6e00d9;
}

#referencias {
    width: 50%;
    margin: 0px;
    padding: 0px;
}

#referencias .referencia {
    background-color: rgb(21 216 156);
    margin: 10px;
    padding: 15px;
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(73 244 192);
    border-radius: 20px;
    font-style: oblique;
    color: rgb(11 83 61);
}

.footer {
    text-align: center;
    background-color: rgb(111 0 217);
    color: rgb(255 255 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3em;
}

.footer-text {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.footer-text h3 {
    font-size: 1.5em;
    font-weight: 800;
}

.footer-image {
    max-width: 50%;
    max-height: 250px;
}

a.chat-online {
    background: orange;
    color: white;
    display: inline-block;
    margin-top: 10px;
    border-radius: 30px;
    padding: 10px;
}

/* MEDIA QUERIES: Mobile */
@media (max-width: 900px) {

    .logo {
        max-height: 3em;
    }

    .social-link {
        height: 30px;
        width: 30px;
    }

    #menu ul {
        margin-left: 114px;
    }

    #contenedor-proyectos {
        flex-direction: column;
        order: 2;
    }

    #proyectos .proyecto {
        width: 100%;
    }

    #frameworks {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #referencias {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    
    .footer {
        flex-direction: column;
    }

    .footer-text {
        margin: 2em;
    }
    
    

    header .subtitle {
        font-size: unset;
    }
}

@media (max-width: 600px) {
    #principal {
        flex-direction: column;
    }

    #contenedor-proyectos {
        order: 1;
    }

    #referencias {
        order: 2;
        width: 100%
    }

    .framework { 
        width: 40px;
    }

    .proyecto {
        flex:content;
    }

    .proyecto img {
        width: 100%;
    }

    .footer-image {
        max-width: 100%;
        margin-top: 2em;
    }

    #menu ul {
        margin-left: 0;
        margin-top: 1em;
    }

}