/* RESET DE ESTILOS */
/* Pone todos los elementos como border-box en vez de content-box, esto hace que el tamaño de los elementos
sean el tamaño final, sin discrepancias por padding o borders.*/
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Ademas, quita defaults como el font-weight de los titulos o los estilos de linea. */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

/* Y por último, hace que todas las imágenes sean responsive, controladas por el max-width */
img {
    max-width: 100%;
    height: auto;
}

/* ESTRUCTURA */
body {
    margin: 1em;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    max-height: 4em;
}

#menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu ul li {
    padding: 1em;
    border-top: 1px solid #01d78d;
}

a, a:hover {
    color: #02d890;
}

a:visited {
    color: #ff9e07;
}

#top {
    background-color: rgb(0, 151, 136);
    padding: 0px;
    margin: 0px;
}

#contenedor{
    background-color: rgb(255, 0, 255);
    padding: 0px;
    margin: 0px;
}

#principal {
    background-color: rgb(251, 255, 0);
    display: flex;
    height: 800px;
    padding: 0px;
    margin: 0px;
}

#frameworks {
    background-color: rgb(109, 158, 235);
    justify-content: center;

    width: 20%;
    margin: 0px;
    padding: 0px;
}

.framework {
    background-color: rgb(173, 173, 173);
    width: 40%;
    justify-content: center;
    flex-direction: column;

    
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    border-radius: 20px;
}

#proyectos {
    background-color: rgb(16, 85, 204);
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0px;
    padding: 0px;
}

#proyectos .proyecto {
    background-color: rgb(143, 143, 143);
    width: 47%;
    margin: 10px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    border-radius: 0px 50px;
}

.proyecto img {
    width: 80%;
}

.proyecto img:hover {
    filter: blur(2px) sepia(40%);
}


#referencias {
    background-color: rgb(109, 158, 235);
    float: left;
    width: 20%;
    margin: 0px;
    padding: 0px;
}

#referencias .referencia {
    background-color: rgb(104, 104, 104);
    margin: 10px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color:black;
    border-radius: 10% / 80%;
}

.footer {
    text-align: center;
    background-color: rgb(100, 231, 144);
}
